<%- include('header') %>
    <header>
        <h1>Undirskriftarlisti</h1>
    </header>
    <main>
        <label for="nafn">Nafn*</label>
        <input type="text" name="Nafn" id="nafn" required>
        <label for="kennitala">Kennitala*</label>
        <input type="text name" name = "kennitala" id="kennitala" required>
        <label for="ath">Athugasemd:</label>
        <input type="text">
   
    <hr>
<%- include('signature') %>  