$gutter: 30px;
$max-width: 1400px;
$columns: 12;
$margin-bottom: 20px;

$black: #000;
$off-white: rgb(245, 245, 201);
$off-yellow: rgb(108, 109, 51);

$fonts: verdana, geneva, tahoma, sans-serif;
