table {
  display: flex;
  flex-direction: column;
}

tr {
  border: solid 1px $off-yellow;
  display: flex;
  flex-direction: row;
  height: 1.5rem;

  > * {
    font-weight: 400;
  }
}

th {
  border: solid 1px $off-yellow;
}

.date {
  width: 17%;
}

.name {
  width: 17%;
}

.note {
  width: 65%;
}

.table-heading > * {
  font-weight: 600;
}
